<div class="about-container">
  <div class="card-section">
    <h1 class="title is-3 mb-4">Sobre esta aplicação</h1>
    <div class="content">
      <p>
        Esta aplicação foi desenvolvida para gerenciar contatos de forma eficiente, segura e intuitiva. No front-end,
        foi utilizado <strong>Angular</strong> com <strong>TypeScript</strong> e <strong>Bulma</strong> para entregar
        uma interface responsiva, rápida e moderna.
      </p>
      <p>
        No back-end, a aplicação conta com a robustez do <strong>Node.js</strong>, <strong>Express</strong>,
        <strong>Prisma ORM</strong> e banco de dados <strong>PostgreSQL</strong>.
      </p>
      <p>
        Com esta ferramenta, você pode cadastrar, editar, filtrar e exportar seus contatos para arquivo CSV com extrema
        facilidade.
      </p>
    </div>
  </div>
</div>