<div class="container is-fluid" style="padding-left: 20px;">
  <section class="section" style="border-radius: 10px; background-color: #f5f5f5; padding: 20px;">
    <h1 class="title">Sobre esta página</h1>
    <p class="content">
      Esta aplicação foi desenvolvida para gerenciar contatos de forma eficiente e intuitiva. No front-end, utilizei <strong>Angular</strong> com <strong>TypeScript</strong> e <strong>Bulma</strong> para criar uma interface responsiva e moderna. No back-end, a aplicação é alimentada por <strong>Node.js</strong>, <strong>Express</strong>, <strong>Prisma</strong> e <strong>SQLServer</strong> no banco de dados, garantindo uma arquitetura robusta e escalável.
    </p>
    <p class="content">
      Com esta ferramenta, é possível adicionar, editar, filtrar e exportar contatos. Tudo isso com uma experiência de usuário simples e eficaz.
    </p>
  </section>

  <section class="section" style="border-radius: 10px; background-color: #ffffff; margin-top: 20px; padding: 20px;">
    <h3 class="title is-4">Conecte-se comigo</h3>
    <div class="buttons">
      <a href="https://github.com/conradocmatheus" target="_blank" class="button is-dark">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub</span>
      </a>
      <a href="https://linkedin.com/in/conradocmatheus" target="_blank" class="button is-linkedin">
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
        <span>LinkedIn</span>
      </a>
    </div>
  </section>
</div>
