<aside class="menu">
  <p class="menu-label">Contact Manager</p>
  <ul class="menu-list">
    <li><a routerLink="/home" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/contacts" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Contatos</a></li>
    <li><a routerLink="/profile" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Perfil</a></li>
    <li><a routerLink="/about" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Sobre</a></li>
  </ul>
</aside>
