<aside class="menu is-shadow" style="height: 100vh; padding: 1rem;">
  <p class="menu-label">Contact Manager</p>
  <ul class="menu-list">
    <li class="sidebar-item">
      <a routerLink="/home" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span>Home</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/contacts" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
          <i class="fas fa-address-book"></i>
        </span>
        <span>Contatos</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/profile" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
          <i class="fas fa-user"></i>
        </span>
        <span>Perfil</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/about" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
          <i class="fas fa-info-circle"></i>
        </span>
        <span>Sobre</span>
      </a>
    </li>
  </ul>
</aside>
